html{
    background-color: #27374D;
}

h1{
    color: #DDE6ED;
    text-align: center;
}

h2{
    color: #9DB2BF
}

p{
    color: #DDE6ED;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #334766;
}


.main-header__brand {
  font-family: "raleway", sans-serif;
  color: #9DB2BF;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 1rem;
}

.main-header__brand img {
  height: 8rem;
}

.main-nav {
  display: flex;
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "raleway", sans-serif;
  vertical-align: text-top;
  display:flex;
  align-items: center;
}

.main-nav__item {
  margin: 0 .75rem;
  font-size: 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #9DB2BF;
}

.main-nav__item a:hover {
  color: white;
}

.main-nav__item a:active {
  color: white;
}

.main-nav__item--cta {
  background: white;
  padding: .5rem;
  border-radius: .5rem;
}

.main-nav__item--cta a:hover {
  color: #27374D;
}




.grid-wrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows:2rem 2rem 2rem 2rem 2rem;
}


.article-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}

.intro-paragraph {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.basic-paragraph {
    font-family: "raleway";
    font-size: 1.3rem;
    margin: 0 6.5rem;
}

.first-image {
    font-size: 1.25rem;
    margin: 0rem 3rem;
  }

.first-image-container {
        width: 55%;
        display: inline-block;
        vertical-align: middle;
        box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
        margin-left: 5.6rem;
}

.opening-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image-one {
    width: 100%;
    vertical-align: top;
}

.first-image-container-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
    padding: 0rem;
    display: inline-block;
    vertical-align: middle;
    width: 35%;
  }

  .second-paragraph {
    font-family: "raleway";
    font-size: 1.3rem;
    padding: .6rem;
    margin: 3rem;
  }

  .h2-title {
    font-family: "raleway";
    font-weight: bold;
    font-size: 2rem;
    padding: .6rem;
    margin: 3rem;
  }

  .h2-title-top-ten {
    margin: 0rem 3rem;
    font-family: "raleway";
    font-weight: bold;
    font-size: 2rem;
    padding: .6rem;
  }

  .top-list-container {
    margin: 0rem 5.2rem;
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  li {
    color:#DDE6ED;
    font-size: 1.3rem;
    font-family: "raleyway";
    margin-left: 5.6rem;
    padding: .5rem 0;
  }

  .top-ten-list {
    font-family: "raleway";
  }

  .h3-list-item {
    font-family: "raleway";
    font-weight: bold;
    font-size: 2rem;
    padding: .62rem;
    margin: 5.6rem 7rem;
    color: #9DB2BF;
    margin-bottom: 1rem;
    text-decoration: underline;
  }


  /*.first-choice-div-pros {
    font-size: 20px;
    margin: 48px 0;
  }*/

  .purple-leaf-info {
    margin-top: 2.1rem;
    margin-left: 6.4rem;
  }

  .purple-leaf-info-container {
    text-align: left;
    padding: 1.25rem;
    display: flex;
    vertical-align: middle;
    width: 100%;
    margin-left: 5.5rem;
  }

  .plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .plan {
    background: #9DB2BF;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
  
  .plan--highlighted {
    background: #9DB2BF;
    color: #27374D;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  .plan__annotation {
    background: white;
    color: #27374D;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-family: "raleway";
    font-size: 2rem;
  }
  
  .plan__title {
    color: #27374D;
    font-family: "raleway," sans-serif;
    font-size: 2.5rem;
  }
  
  .plan__price {
    color: #27374D;
    font-family: sans-serif;
  }
  
  .specifications {
    font-size: 1.8rem;
    font-family: "raleway";
    text-decoration: underline;
  }

  .plan--highlighted .plan__title {
    color: white;
  }
  
  .plan--highlighted .plan__price {
    color: #0e4f1f;
  }
  
  .plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  
  .plan__feature {
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 1.7rem;
  }

  .purple-leaf-photo-container {
    width: 45%;
    display: flex;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    margin-right: .62rem;
    margin-top: 1rem;
  }

  .purple-leaf-photo {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }

  .purpleleafprice {
    font-size: 2rem;
    color: #DDE6ED;
    Font-family: "bodoni moda";
    margin-left: 6.5rem;
    flex-wrap: wrap;
  }


  .list-title-container {
    margin: 0 5rem;
  }

  .list-titles {
    font-size: 2rem;
    color: #9DB2BF;
    font-family: "raleway", bold;
    flex-wrap: wrap;
    
  }

  .purple-leaf-list {
    font-size: 1.5rem;
    font-family: "raleway";
    color: #DDE6ED;
    flex-wrap: wrap;
  }

  .backyard-discovery-info-container {
    text-align: left;
    padding: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    /*margin-left: 5.6rem;*/
  }

  .backyard-discovery-photo-container {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    margin: 1rem 8rem;
  }

  .backyard-discovery-photo {
    width: 100%;
    vertical-align: top;
  }

  .backyarddiscoveryprice {
    font-size: 2rem;
    color: #DDE6ED;
    Font-family: "bodoni moda";
  }

  .backyard-discovery-list {
    font-size: 1.5rem;
    font-family: "raleway";
    color: #DDE6ED;
  }

 .faq {
    font-family: "raleway";
    font-size: 2rem;
    padding: .5rem;
    margin: 5.6rem;
    color: #9DB2BF;
    margin-bottom: 0px;
    text-decoration: underline;
 }