html{
    background-color: #27374D;
}

h1 {
    color: #DDE6ED;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    color: #9DB2BF
}

p{
    color: #DDE6ED;
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 40rem) {
    #main-logo {
        font-size: 2rem;
    }
}

.section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #334766;
}


.main-header__brand {
    font-family: "raleway", sans-serif;
    color: #9DB2BF;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
}

.main-header__brand img {
    height: 8rem;
}

.main-nav {
    display: flex;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "raleway", sans-serif;
    vertical-align: text-top;
    display:flex;
    align-items: center;
}

.main-nav__item {
    margin: 0 .75rem;
    font-size: 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
}

.main-nav__item--cta a:hover {
    color: #27374D;
}

#product-overview {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 10%, transparent), url("images/springpergola.png");
    background-size: 100%;
    width: 100vw;
    height: 80vh;
    padding: 0px;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    /*top: 5rem;*/
    border: black solid 5px;
    box-shadow:3px 3px 5px 3px rgba(0,0,0,0.3);
}

#product-overview h2 {
    font-family: "raleway", sans-serif;
    font-size: 3rem;
    position: absolute;
    bottom: 12%;
    left: 3%;
    color:#27374D; 
}

#product-overview h3 {
    font-family: "raleway", sans-serif;
    font-size: 1.9rem;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #334766;
}

.grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: 10% 40% 10% 40% 10%;
    grid-template-rows: 3;
}

.faq1 {
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 3;
}

.faq2 {
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 5;
}

.faq3 {
    background-color: purple;
}

.faq4 {
    background-color: yellow;
}

.faq5 {
    background-color: orange;
}

.faq6 {
    background-color: blue;
}

.first-paragraph {
    color:#DDE6ED;
    font-size: 1.5rem;
    position: relative;
    box-sizing: border-box;
    margin-top:8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "raleway", sans-serif;
}

