html{
    background-color: #27374D;
}

h1 {
    color: #DDE6ED;
    text-align: center;
}

h2{
    color: #9DB2BF
}

p{
    color: #DDE6ED;
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 5rem;
}

.section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
}

.main-header > div {
    display: inline-block;
}

.main-header__brand {
    font-family: "raleway", sans-serif;
    color: #9DB2BF;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 20px;
}

.main-header__brand img {
    height: 16rem;
}

.main-nav {
    display: inline-block;
    text-align: right; 
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "raleway", sans-serif;
    vertical-align: text-top;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1.25rem;
    font-size: 2.5rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
}

.main-nav__item--cta a:hover {
    color: #27374D;
}


#product-overview {
    background-image: url("images/springpergola.png");
    background-size: 100%;
    width: 107rem;
    height: 82rem;
    padding: 0px;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 5rem;
    border: black solid 5px;
    box-shadow:3px 3px 5px 3px rgba(0,0,0,0.3);
}

#product-overview h2 {
    font-family: "bodoni moda", italic;
    font-size: 4rem;
    position: absolute;
    top: 30rem;
    left: 9rem;
    color:#27374D; 
}

.first-paragraph {
    color:#DDE6ED;
    font-size: 2rem;
    position: relative;
}

#product-overview p {
    margin-top: 4rem;
}