html{
    background-color: #27374D;
   /* height: 100%;*/
}

/*body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 8rem;
    padding-top: 1rem;
    height: 100%;
}*/

h1 {
    color: #DDE6ED;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    color: #9DB2BF
}

p{
    color: #DDE6ED;
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 40rem) {
    #main-logo {
        font-size: 2rem;
    }
}

.section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #334766;
}


.main-header__brand {
    font-family: "raleway", sans-serif;
    color: #9DB2BF;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
}

.main-header__brand img {
    height: 8rem;
}

.main-nav {
    display: flex;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "raleway", sans-serif;
    vertical-align: text-top;
    display:flex;
    align-items: center;
}

.main-nav__item {
    margin: 0 .75rem;
    font-size: 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
}

.main-nav__item--cta a:hover {
    color: #27374D;
}

.faq-title {
    color: #9DB2BF;
    font-size: 2rem;
    font-family: 'raleway';
}

.basic-paragraph {
    color: #DDE6ED;
    font-size: 1rem;
    font-family: 'raleway';
}