html{
    background-color: #27374D;
   /* height: 100%;*/
}

/*body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 8rem;
    padding-top: 1rem;
    height: 100%;
}*/

h1 {
    color: #DDE6ED;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    color: #9DB2BF
}

p{
    color: #DDE6ED;
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 40rem) {
    #main-logo {
        font-size: 2rem;
    }
}

.section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #334766;
}


.main-header__brand {
    font-family: "raleway", sans-serif;
    color: #9DB2BF;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
}

.main-header__brand img {
    height: 8rem;
}

.main-nav {
    display: flex;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "raleway", sans-serif;
    vertical-align: text-top;
    display:flex;
    align-items: center;
}

.main-nav__item {
    margin: 0 .75rem;
    font-size: 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
}

.main-nav__item--cta a:hover {
    color: #27374D;
}

#background-video {
    width: 98vw;
    height: 75vh;
    object-fit: cover;
    /*position: fixed;*/
    left: 1rem;
    right: 0;
    top: 10rem;
    bottom: 0;
    z-index: -1;
  }

  .flex-title-container {
    display: felx;
  }
  
.video-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#9DB2BF;
    font-size: 4rem;
    font-family: "raleyway";
    margin-top: -22rem;
    margin-left: 49rem;
}

.video-subtitle {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#9DB2BF;
    font-size: 2rem;
    font-family:"raleyway";
    margin-left: 49rem;
    margin-top: -0.5rem;
}

.toja-container {
    Display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 8;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "nav toja-title toja-title"
        "nav toja-selling-points toja-selling points"
        "nav toja-flat-top-pic toja-flat-top-info"
        "nav toja-angled-info toja-angled-pic"
        "nav toja-wall-pic toja-wall-info"
        "nav toja-angled-roof-info toja-angled-roof-pic"
        "nav toja-hexa-pic toja-hexa-info"
        "nav toja-triangle-info toja-triangle-pic"
    }
    
    .toja-title {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    
    .toja-selling-poimts {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    
    .toja-flat-top-pic {
    Grid-area: toja-flat-top-pic;
    }
    
    .toja-flat-top-info {
    Grid-area: toja-flat-top-pic;
    }
    
    .toja-angled-info {
    Grid-area: toja-angled-info;
    }
    
    .toja-angled-pic {
    Grid-area: toja-angled-pic;
    }
    
    .toja-wall-pic {
    Grid-area: toja-wall-pic;
    }
    
    .toja-wall-info {
    Grid-area: toja-wall-info;
    }
    
    .toja-angled-roof-pic {
    Grid-area: toja-angled-roof-pic;
    }
    
    .toja-angled-roof-info {
    Grid-area: toja-angled-roof-info;
    }
    
    .toja-hexa-info {
    Grid-area: toja-hexa-info;
    }
    
    .toja-hexa-pic {
    Grid-area: toja-hexa-pic;
    }
    
    .toja-triangle-pic {
    Grid-area: toja-triangle-pic;
    }
    
    .toja-triangle-info {
    Grid-area: toja-triangle-info;
    }