html{
    background-color: #27374D;
   /* height: 100%;*/
}

/*body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 8rem;
    padding-top: 1rem;
    height: 100%;
}*/

h1 {
    color: #DDE6ED;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    color: #9DB2BF
}

p{
    color: #DDE6ED;
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 40rem) {
    #main-logo {
        font-size: 2rem;
    }
}

.section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #334766;
}


.main-header__brand {
    font-family: "raleway", sans-serif;
    color: #9DB2BF;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
}

.main-header__brand img {
    height: 8rem;
}

.main-nav {
    display: flex;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "raleway", sans-serif;
    vertical-align: text-top;
    display:flex;
    align-items: center;
}

.main-nav__item {
    margin: 0 .75rem;
    font-size: 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
}

.main-nav__item--cta a:hover {
    color: #27374D;
}

#background-video {
    width: 98vw;
    height: 75vh;
    object-fit: cover;
    /*position: fixed;*/
    left: 1rem;
    right: 0;
    top: 10rem;
    bottom: 0;
    z-index: -1;
  }

  .flex-title-container {
    display: felx;
  }
  
.video-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#9DB2BF;
    font-size: 4rem;
    font-family: 'raleway';
    margin-top: -22rem;
    margin-left: 49rem;
}

.video-subtitle {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#9DB2BF;
    font-size: 2rem;
    font-family: 'raleway';
    margin-left: 49rem;
    margin-top: -0.5rem;
}



.wrapper {
  display: grid;
  grid-template-columns: 20% 39% 39%;
  grid-template-rows: 4rem 3rem 22rem 22rem 22rem 22rem 22rem 22rem;
  margin-top:18rem;
  grid-column-gap: 20px;
  grid-row-gap: 5rem;
}

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: #9DB2BF;
    font-family: 'raleway';
    font-weight: 400;
    list-style: none;
    font-size: 1.5rem;
    text-align: left;
    }

  .nav-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    margin-left: .4rem;
  }

  .navigtion-menu {
    list-style: none;
    font-size: 1.5rem;
  }

  .li {
    font-family: 'raleway';
    font-weight: 400;
    list-style: none;
    font-size: 1rem;
  }

  /*title*/
  .box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'raleway';
    font-size: 3rem;
    color:#9DB2BF;
    text-align: center;
    font-weight: 600;
  }

  /*selling points*/
  .box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'raleway';
    font-weight: 200;
    color: #27374D;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #9DB2BF;
  }
      
  .box4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: white;
  }

  .flat-top-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
  }

  .flat-top-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }

  .box5 { /*flat top basic */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: 'raleway';
    display: flex;
  }

  .flat-top-title {
    justify-content: flex-start;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
  }

  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
  }

  .flat-top-subtitle {
    font-weight: 300;
  }

  .toja-pros {
    font-family: 'raleway';
    color:#DDE6ED;
  }

  .toja__feature {
    font-family: 'raleway';
    color: #9DB2BF;
    font-size: 1.2rem;
  }
      
  .box6 { /*angled roof*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: 'raleway';
    display: flex;
  }

  .angle-title {
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';  
    justify-content: flex-start;
    text-align: left;
  }

  .angle-subtitle {
    font-weight: 300;
  }

  .box7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
  }

  .angled-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
  }

  .angled-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }


  .box8 { /*wall pic*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background: white;
  }

  .box9 { /*wall*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .wall-title {
    justify-content: flex-start;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';
  }

  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
    font-family: 'raleway';
  }

  .wall-subtitle {
    font-weight: 300;
    font-family: 'raleway';
  }

  .toja-pros {
    font-family: 'raleway';
    color:#DDE6ED;
  }

  .toja__feature {
    font-family: 'raleway';
    color: #9DB2BF;
    font-size: 1.2rem;
  }
      
  .box10 { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
      
  .peaked-roof-title {
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';  
    justify-content: flex-start;
    text-align: left;
  }

  .peaked-roof-subtitle {
    font-weight: 300;
    font-family: 'raleway';
  }

  .box11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .box12 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .box13 { /*hexa*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .hexa-title {
    justify-content: flex-start;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';
  }

  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
    font-family: 'raleway';
  }

  .hexa-subtitle {
    font-weight: 300;
    font-family: 'raleway';
  }

  .toja-pros {
    font-family: 'raleway';
    color:#DDE6ED;
  }

  .toja__feature {
    font-family: 'raleway';
    color: #9DB2BF;
    font-size: 1.2rem;
  }

  .box14 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .triangle-title {
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';  
    justify-content: flex-start;
    text-align: left;
  }

  .triangle-subtitle {
    font-weight: 300;
    font-family: 'raleway';
  }

  .box15 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
  }
    
